

.page-jump-btn {
  color: white;
  height: 150px;
  width: 500px;
  border-radius: 1%;
  margin: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  font-size: 25pt;
}

.library {
  background-image: url('/public/library_bg.webp');
  background-size: cover;
}

.shoppinglist {
  background-image: url('/public/shoppinglist_bg.jpeg');
  background-size: cover;
}

.inventory {
  background-image: url('/public/inventory_bg.webp');
  background-position: center;
  background-size: cover;
}

p {
  padding: 10px;
  background-color: rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 768px) {

  .page-jump-btn {
    height: 10vh;
    min-height: 15vw;
    width: 80vw;
  }

}