

@font-face {
  font-family: 'remissis';
  src: url(../public/remissis/remissis_sb.otf);
}

.App {
  text-align: center;
  background-image: url(../public/spiceracker_bg.png);
  background-size: 50%;
  background-repeat: repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'remissis';
  color: white;
}


@media only screen and (max-width: 768px) {

  .App {
    background-size: cover;
    min-height: 100vh;
  }

}